# PostgreSQL
POSTGRES_HOST=<your-postgresql-host>
POSTGRES_PORT=<your-postgresql-port>
POSTGRES_DB=<your-postgresql-database-name>
POSTGRES_USER=<your-postgresql-username>
POSTGRES_PASSWORD=<your-postgresql-password>

# Application
AGPP_ENV=development